.hover-image-container {
    position: relative;
    display: inline-block;
  }

  .img-wrapper {
    position: relative;
  }

  .img1 {
    display: block;
  }

  .img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* Adjust width as per your requirement */
    height: 100px; /* Adjust height as per your requirement */
    display: none;
  }

  .img-wrapper:hover .img1 {
    display: none;
  }

  .img-wrapper:hover .img2 {
    display: block;
  }