@keyframes scroll {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
  
