.fade-in {
      opacity: 0; /* Initial opacity for hidden state */
      animation: fadeIn 0.5s ease-in-out forwards;
    }
    
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

.fade-out{
      opacity:1;
      animation: fadeOut 0.5s;
    } 
    @keyframes fadeOut {
      from { opacity: inherit; }
      to { opacity: 0; }
    }
.fade-in-slow{
      animation: fadeIn 1.5s ease-in-out forwards;
}  