.fade-in {
      opacity: 0; /* Initial opacity for hidden state */
      animation: fadeIn 1s ease-in-out forwards;
    }
    
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

.fade-out{
      opacity:1;
      animation: fadeOut 0.5s;
    } 
    @keyframes fadeOut {
      from { opacity: inherit; }
      to { opacity: 0; }
    }
.fade-in-slow{
      animation: fadeIn 1.5s ease-in-out forwards;
} 

.zoom-in {
  opacity: 0;
  transform: scale(0.5); /* Start slightly smaller */
  animation: zoomIn 1s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-up {
      opacity: 0;
                transform: scaleY(0);
                transform-origin: bottom;
                animation: fadeGrow 1s ease-in-out forwards;
    }
    .fades-in {
        opacity: 0;
                transform: scaleY(0);
                transform-origin: top;
                animation: fadeCounter 0.8s ease-in-out forwards;
    }
         @keyframes fadeCounter {
                from {
                  opacity: 0;
                  transform: scaleY(0.9);
                  transform: scaleX(1)
                }       
                to {
                  opacity: 1;
                  transform: scaleY(1);
                  transform: scaleX(0.9);
                }
              }
    
     @keyframes fadeGrow {
                from {
                  opacity: 0;
                  transform: scaleY(0.9);
                  transform: scaleX(0.9)
                }       
                to {
                  opacity: 1;
                  transform: scaleY(1);
                }
              }
              
           .fades-out {
                opacity: 0;
                transform: scaleY(0);
                transform-origin: top;
                animation: fadeShrink 0.8s ease-in-out forwards;
              }
    
              @keyframes fadeShrink {
                from {
                  opacity: 0.2;
                  transform-origin: top;
                  background-color: rgb(5, 5, 65);
                  transform: scaleY(0);                  
                  transform: scaleX(0.9);
                  
                }
                to {
                  opacity: 1;
                  transform: scaleY(1);
                  transform: scaleX(1);
                }
              }
.slow-zoom-in {
        transform: scale(1);
  animation: slowZoomIn 10s ease-out forwards;
}

@keyframes slowZoomIn {
  from { transform: scaleX(1); }
  to { 
        transform: scaleX(1.5);
        transform: scaleY(1.5);
}
}
